In [7]:
import pandas as pd
df = pd.DataFrame(columns=["Ad-Soyad", "Okul no", "Sınav Puanı", "Harf Notu"])
parts = int(input("Sınıf mevcudunu girin: "))

for _ in range(parts):
    oad = input("Öğrencinin Adı-Soyadı: ")
    ono = input("Öğrencinin Okul Numarası: ")
    Mat = int(input("Öğrencinin sınav puanı: "))
    if Mat>80: hn = "A"
    elif Mat>60: hn = "B"
    elif Mat>40: hn = "C"
    else: hn = "D"
    df1 = pd.DataFrame(data=[[oad,ono,Mat,hn]],columns=["Ad-Soyad", "Okul no", "Sınav Puanı", "Harf Notu"])
    df = pd.concat([df,df1], axis=0)
df.index = range(len(df.index))

Sınıf mevcudunu girin: 10
Öğrencinin Adı-Soyadı: Berat
Öğrencinin Okul Numarası: 10
Öğrencinin sınav puanı: 86
Öğrencinin Adı-Soyadı: Kaan
Öğrencinin Okul Numarası: 11
Öğrencinin sınav puanı: 75
Öğrencinin Adı-Soyadı: Yaren
Öğrencinin Okul Numarası: 12
Öğrencinin sınav puanı: 100
Öğrencinin Adı-Soyadı: Ömer
Öğrencinin Okul Numarası: 17
Öğrencinin sınav puanı: 100
Öğrencinin Adı-Soyadı: Ahmet
Öğrencinin Okul Numarası: 5
Öğrencinin sınav puanı: 55
Öğrencinin Adı-Soyadı: Kemal
Öğrencinin Okul Numarası: 18
Öğrencinin sınav puanı: 73
Öğrencinin Adı-Soyadı: Harun
Öğrencinin Okul Numarası: 8
Öğrencinin sınav puanı: 44
Öğrencinin Adı-Soyadı: Kerem
Öğrencinin Okul Numarası: 3
Öğrencinin sınav puanı: 99
Öğrencinin Adı-Soyadı: Sıla
Öğrencinin Okul Numarası: 6
Öğrencinin sınav puanı: 32
Öğrencinin Adı-Soyadı: Buğra
Öğrencinin Okul Numarası: 98
Öğrencinin sınav puanı: 32

In [9]:
df

  Ad-Soyad Okul no Sınav Puanı Harf Notu
0    Berat      10          86         A
1     Kaan      11          75         B
2    Yaren      12         100         A
3     Ömer      17         100         A
4    Ahmet       5          55         C
5    Kemal      18          73         B
6    Harun       8          44         C
7    Kerem       3          99         A
8     Sıla       6          32         D
9    Buğra      98          32         D